<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.meiot.mapper.EnterpriseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.meiot.entity.Enterprise">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="agent_id" property="agentId" />
        <result column="enterprise_name" property="enterpriseName" />
        <result column="contacts" property="contacts" />
        <result column="phone" property="phone" />
        <result column="provice" property="provice" />
        <result column="city" property="city" />
        <result column="area" property="area" />
        <result column="address" property="address" />
        <result column="legal_person" property="legalPerson" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, agent_id, enterprise_name, contacts, phone, provice, city, area, address, legal_person, create_time, update_time,deleted
    </sql>
    <select id="getList" resultType="cn.meiot.entity.bo.EnterpriseBo">
        select id,enterprise_name from enterprise where deleted = 0
        order by create_time desc
    </select>

</mapper>
