<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.meiot.mapper.ProjectTypePermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.meiot.entity.ProjectTypePermission">
        <id column="id" property="id"/>
        <result column="project_type_id" property="projectTypeId"/>
        <result column="permission_id" property="permissionId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, project_type_id, permission_id
    </sql>
    <select id="typePermissionlist" resultType="cn.meiot.entity.SysPermission">

        SELECT
            re.id,re.name,re.pid,re.p_type,re.type,
            (
                CASE
                WHEN EXISTS (
                    SELECT
                        1
                    FROM
                        project_type_permission rr
                    WHERE
                        rr.permission_id = re.id
                    AND rr.project_type_id = #{id}
                )
                   THEN
                        1
                    ELSE
                        0
                    END
            ) AS checked
        FROM
            `sys_permission` re
        WHERE re.type = 2
    </select>

</mapper>
