<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.meiot.mapper.ProjectPermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.meiot.entity.ProjectPermission">
        <id column="id" property="id" />
        <result column="project_id" property="projectId" />
        <result column="sys_permission_id" property="sysPermissionId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, project_id, sys_permission_id
    </sql>
    <select id="projectPermissionlist" resultType="cn.meiot.entity.SysPermission">

        SELECT
        re.id,re.name,re.pid,re.p_type,re.type
        FROM
        `sys_permission` re
        WHERE re.type = 2 AND id IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}

        </foreach>


        <!-- SELECT
            re.id,re.name,re.pid,re.p_type,re.type,
            (
                CASE
                WHEN EXISTS (
                    SELECT
                        1
                    FROM
                        project_permission rr
                    WHERE
                        rr.sys_permission_id = re.id
                    AND rr.project_id = #{id}
                )
                   THEN
                        1
                    ELSE
                        0
                    END
            ) AS checked
        FROM
            `sys_permission` re
        WHERE re.type = 2 AND id IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}

        </foreach>-->

    </select>
    <select id="getPermissionIds" resultType="java.lang.Integer">

        select sys_permission_id from project_permission where project_id = #{projectId} and sys_permission_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}

        </foreach>
    </select>

</mapper>
