<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.meiot.mapper.SysRolePermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.meiot.entity.SysRolePermission">
        <id column="id" property="id" />
        <result column="sys_role_id" property="sysRoleId" />
        <result column="sys_permission_id" property="sysPermissionId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sys_role_id, sys_permission_id
    </sql>
    <insert id="save" parameterType="cn.meiot.entity.SysRolePermission">

    INSERT INTO `sys_role_permission`(sys_role_id,sys_permission_id)  SELECT #{sysRolePermission.sysRoleId},#{sysRolePermission.sysPermissionId} FROM DUAL   WHERE   EXISTS  (
	SELECT id FROM sys_permission WHERE TYPE = #{sysRolePermission.type} AND id = #{sysRolePermission.sysPermissionId}
      )

    </insert>
    <select id="getPermission" resultType="java.lang.String">

        SELECT a.name FROM `sys_permission` a WHERE id IN
        (
            select b.sys_permission_id from `sys_role_permission` b  where b.sys_role_id in 
            <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                #{item}

            </foreach>
        )


    </select>
    <select id="selectPermissionIdByRoles" resultType="java.lang.Integer">

        select sys_permission_id from sys_role_permission where sys_role_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}

        </foreach>


    </select>

</mapper>
