<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.meiot.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.meiot.entity.SysUser">
    <result column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="password" property="password" />
        <result column="mobile" property="mobile" />
        <result column="nick_name" property="nickName" />
        <result column="email" property="email" />
        <result column="salt" property="salt" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_admin" property="isAdmin" />
        <result column="create_user_id" property="createUserId" />
        <result column="deleted" property="deleted" />
        <result column="login_time" property="loginTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        user_name, password, mobile, nick_name, email, salt, status, create_time,enterprise_id, update_time,is_admin,deleted
    </sql>

    <select id="getPersonList" resultType="cn.meiot.entity.bo.PcUserInfo">
        select a.*,
        b.province,b.city,b.district,b.head_portrait,
        c.enterprise_name as enterpriseName,c.contacts as contacts,c.phone as phone,
        c.provice as provice, c.city ,c.area as district,c.address
        from
        (select id as userId,user_name as userName ,nick_name as nickName,email as email ,status,create_time as createTime, login_time as loginTime,enterprise_id
        from sys_user
        where type = #{sysUser.type} and deleted = 0
        <if test="sysUser.type == 2">
            and belong_id = #{sysUser.belongId}
        </if>
        <if test="keyword != null and keyword != ''">
            and (user_name like "%"#{keyword}"%" or nick_name like "%"#{keyword}"%")
        </if>
        order by create_time desc
        <if test="currentPage !=null">
            limit #{currentPage},#{pageSize}
        </if>

        ) a
        left join sys_user_profile b
        on a.userId = b.user_id

        left join enterprise c
        on  a.enterprise_id = c.id
        ORDER BY createTime DESC
    </select>


    <select id="selectTypeById" resultType="int" parameterType="java.lang.Long">

        SELECT type FROM sys_user WHERE id =#{userId} and deleted = 0  LIMIT 1

    </select>

    <select id="selectIdByNikName" resultType="java.lang.Long">

        SELECT  id FROM sys_user WHERE nick_name = #{nikName}

    </select>
    <select id="getPersonListCount" resultType="java.lang.Integer">
        select count(1)
        from sys_user
        where type = #{sysUser.type} and deleted = 0
        <if test="sysUser.type == 2">
            and belong_id = #{sysUser.belongId}
        </if>
        <if test="keyword != null and keyword != ''">
            and (user_name like "%"#{keyword}"%" or nick_name like "%"#{keyword}"%")
        </if>

    </select>
    <select id="getAdminListCount" resultType="java.lang.Integer">
        select count(1)
        from sys_user where
        type = #{map.type} and deleted = 0
        <if test="map.type ==2 ">
            and ( belong_id = #{map.belongId}  or id = #{map.belongId})
        </if>
        <if test="map.keyword !=null and map.keyword !=''">
          and  (user_name like "%"#{map.keyword} "%" or  nick_name like "%"#{map.keyword} "%" )

        </if>

    </select>
    <select id="getAdminList" resultType="cn.meiot.entity.bo.PlatUser">
        select id,user_name as account,nick_name as nickName,is_admin as isAdmin,email as email
        from sys_user where
        type = #{map.type} and deleted = 0
        <if test="map.type ==2 ">
            and ( belong_id = #{map.belongId}  or id = #{map.belongId})
        </if>
        <if test="map.keyword !=null and map.keyword !=''">
           and (user_name like "%"#{map.keyword} "%" or  nick_name like "%"#{map.keyword} "%" )
        </if>
        order by create_time desc limit #{map.page.offset},#{map.page.pageSize}


    </select>
    <select id="getExportEnUser" resultType="cn.meiot.entity.bo.ExportEnUserBo">
        select a.*,
        b.province,b.city,b.district,b.head_portrait,
        c.enterprise_name as enterpriseName,c.contacts as contacts,c.phone as phone,
        CONCAT(d.`name`,e.name,f.name) AS addr
        from
        (select id as userId,user_name as userName ,nick_name as nickName,email as email ,status,create_time as createTime, login_time as loginTime,enterprise_id
        from sys_user
        where type = #{type} and deleted = 0
        <if test="type == 2 ">
            and belong_id = #{belongId}
        </if>
        <if test="keyword != null and keyword != ''">
            and user_name like "%"#{keyword}"%" or nick_name like "%"#{keyword}"%"
        </if>
        order by create_time desc
        ) a
        left join sys_user_profile b
        on a.userId = b.user_id
        left join enterprise c
        on  a.enterprise_id = c.id
        LEFT JOIN `province_city_district` d ON c.`provice` = d.id
        LEFT JOIN `province_city_district` e ON c.`city` = e.id
        LEFT JOIN `province_city_district` f ON c.`area` = f.id
        ORDER BY createTime DESC



    </select>
    <select id="getExportsingleUser" resultType="cn.meiot.entity.bo.ExportSingleUserBo">

        select a.*, CONCAT(b.`province`,b.`city`,b.`district`) as addr from
        (
        select id,user_name as account,nick_name as nikName,create_time as createTime, login_time	as loginTime from `sys_user`

         where type = #{type} and deleted = 0
        <if test="keyword != null and keyword != ''">
            and user_name like "%"#{keyword}"%" or nick_name like "%"#{keyword}"%"
        </if>

         ) a

        left join `sys_user_profile` b
        on a.id = b.`user_id`


    </select>
    <select id="getUserByType" resultType="java.lang.Long">

        select id from sys_user
        where deleted = 0 and
        <choose>
            <when test="type == 0">
                (type = 2 or type = 5)

            </when>
            <otherwise>
                type = #{type}
            </otherwise>
        </choose>
    </select>

</mapper>
