<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.meiot.mapper.SysUserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.meiot.entity.SysUserRole">
        <id column="id" property="id" />
        <result column="sys_user_id" property="sysUserId" />
        <result column="sys_role_id" property="sysRoleId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sys_user_id, sys_role_id
    </sql>

    <select id="selectCountByMap" parameterType="map" resultType="int">
        SELECT COUNT(1) FROM sys_user_role WHERE sys_role_id = #{map.roleId}


    </select>
    <select id="getRoleList" resultType="java.lang.Integer">

        SELECT sys_role_id FROM sys_user_role WHERE sys_user_id = #{userId}


    </select>
    <select id="selectUserIdByRoles" resultType="java.lang.Long">


        select sys_user_id from `sys_user_role` where sys_role_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}

        </foreach>

    </select>

</mapper>
