<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.meiot.mapper.ExceptionLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.meiot.entity.ExceptionLog">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="username" property="username" />
        <result column="name" property="name" />
        <result column="action_model" property="actionModel" />
        <result column="ip" property="ip" />
        <result column="content" property="content" />
        <result column="param" property="param" />
        <result column="useragent" property="useragent" />
        <result column="url" property="url" />
        <result column="msg" property="msg" />
        <result column="status" property="status" />
        <result column="createtime" property="createtime" />
        <result column="main_user_id" property="mainUserId" />
        <result column="user_type" property="userType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, username, name, action_model, ip, content, param, useragent, url, msg, status, createtime, main_user_id, user_type
    </sql>
    <select id="selectExceptionLogListByMainUserId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM exception_log
        <where>
            main_user_id = #{userId}
            <if test="null != account and '' != account">
                AND  username LIKE '%' #{account} '%'
            </if>
            <if test="null != startTime and '' != startTime">
                AND  DATE_FORMAT(createtime,'%Y-%m-%d') &gt;= #{startTime}
            </if>
            <if test="null != endTime and '' != endTime">
                AND  DATE_FORMAT(createtime,'%Y-%m-%d') &lt;= #{endTime}
            </if>
        </where>
        ORDER BY createtime DESC LIMIT #{currentPage},#{pageSize}
    </select>
    <select id="selectExceptionLogListByMainUserIdTotal" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM exception_log
        <where>
            main_user_id = #{userId}
            <if test="null != account and '' != account">
                AND  username LIKE '%' #{account} '%'
            </if>
            <if test="null != startTime and '' != startTime">
                AND DATE_FORMAT(createtime,'%Y-%m-%d') &gt;= #{startTime}
            </if>
            <if test="null != endTime and '' != endTime">
                AND DATE_FORMAT(createtime,'%Y-%m-%d') &lt;= #{endTime}
            </if>
        </where>
    </select>

    <select id="selectExceptionLogListByMainUserIdAdmin" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM exception_log
        <where>
            user_type = #{type}
            <if test="null != account and '' != account">
               AND username LIKE '%' #{account} '%'
            </if>
            <if test="null != startTime and '' != startTime">
                AND  DATE_FORMAT(createtime,'%Y-%m-%d') &gt;= #{startTime}
            </if>
            <if test="null != endTime and '' != endTime">
                AND  DATE_FORMAT(createtime,'%Y-%m-%d') &lt;= #{endTime}
            </if>
        </where>
        ORDER BY createtime DESC LIMIT #{currentPage},#{pageSize}
    </select>
    <select id="selectExceptionLogListByMainUserIdTotalAdmin" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM exception_log
        <where>
            user_type = #{type}
            <if test="null != account and '' != account">
                AND  username LIKE '%' #{account} '%'
            </if>
            <if test="null != startTime and '' != startTime">
                AND DATE_FORMAT(createtime,'%Y-%m-%d') &gt;= #{startTime}
            </if>
            <if test="null != endTime and '' != endTime">
                AND  DATE_FORMAT(createtime,'%Y-%m-%d') &lt;= #{endTime}
            </if>
        </where>
    </select>

</mapper>
