<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.meiot.mapper.SystemMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.meiot.entity.SystemMessage">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="extend_id" property="extendId"/>
        <result column="serial_number" property="serialNumber"/>
        <result column="type" property="type"/>
        <result column="subtitle" property="subtitle"/>
        <result column="content" property="content"/>
        <result column="is_read" property="isRead"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
        <result column="extras" property="extras"/>
        <result column="serial_name" property="serialName"/>
        <result column="deal_status" property="dealStatus"/>
        <result column="bulletin_id" property="bulletinId"/>
        <result column="expire_date" property="expireDate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, extend_id, serial_number, type, subtitle, content, is_read, update_time, create_time,extras,serial_name,bulletin_id,deal_status,expire_date
    </sql>

    <delete id="deleteByBulletinMapper">
      DELETE FROM system_message WHERE bulletin_id in
      <foreach collection="idList" separator="," item="id" open="(" close=")">
        #{id}
      </foreach>
    </delete>


    <select id="selectNewsMsg" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM system_message
        WHERE user_id=#{userId} AND is_read=0 OR  ( user_id=#{userId} AND expire_date IS NULL OR now() &lt; expire_date )AND `type` =0
        ORDER BY id DESC
        LIMIT #{total}
    </select>

    <select id="selectUnreadTotal" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM system_message WHERE user_id =#{userId} AND is_read =0
    </select>
    <select id="selectNewsMsgEnterprise" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM system_message
        WHERE user_id=#{userId} AND is_read=0
        AND project_id in (0,#{projectId})
        OR  ( user_id=#{userId} AND expire_date IS NULL OR now() &lt; expire_date )AND `type` =0
        ORDER BY id DESC
        LIMIT #{total}
    </select>
</mapper>

