<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.meiot.dao.EquipmentApiMapper">
	<insert id="insertSerial" >
		INSERT equipment_api (
			serial_number,
			application_id
		)
		VALUES
			(
				#{serialNumber},
				#{appId}
			)
	</insert>
	<update id="deleteSerial">
		UPDATE equipment_api
		SET
		 deleted = 1
		WHERE
			serial_number = #{serialNumber}
		AND
			application_id = #{appId}
	</update>


	<select id="selectIdBySerialNuber" resultType="java.lang.Long">
		SELECT
			application_id
		FROM
			`equipment_api`
		WHERE
			serial_number = #{serialNumebr}
		AND
			deleted = 0
		LIMIT 1
	</select>
	<select id="listSerial" resultType="java.util.Map">
		SELECT
			serial_number AS serialNumber
		FROM
			equipment_api
		WHERE
			application_id = #{appId}
		AND
			deleted = 0
		LIMIT #{page},#{pageSize}
	</select>
	<select id="totalSerial" resultType="java.lang.Integer">
		SELECT
			COUNT(*)
		FROM
			equipment_api
		WHERE
			application_id = #{appId}
		AND
			deleted = 0
	</select>

</mapper>