<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.meiot.dao.ExaminationMapper">
	
	<select id="query" resultType="cn.meiot.entity.dto.pc.examination.PcExamination">
		SELECT
			equipment.examination_time AS examinationTime,
			equipment.examination_status AS examinationStatus,
			equipment_user.serial_number AS serialNumber,
			equipment_user.name,
			equipment.building_id AS buildingId,
			examination.create_time AS createTime,
			examination.swicth_status AS swicthStatus
		FROM
			equipment
		JOIN
			equipment_user
		ON
			equipment.serial_number = equipment_user.serial_number
		LEFT JOIN
			examination
		ON
			equipment_user.serial_number = examination.serial_number
		LEFT JOIN
			role_equipment
		ON
			equipment.serial_number = role_equipment.serial_number
		WHERE
			equipment_user.project_id = #{projectId}
		AND
			equipment_user.user_id = #{userId}
		<if test="status != null">
		AND
			examination.swicth_status = #{status} 
		</if>
		<if test="name != null and name != ''">
		AND
		(
			equipment_user.name LIKE CONCAT('%',#{name},'%')
		OR	
			equipment.serial_number LIKE CONCAT('%',#{name},'%')
		)
		</if>
		<if test="listRole != null and listRole.size()>0">
		AND
			role_equipment.role_id in 
		<foreach collection="listRole" item="id" index="index" open="(" close=")" separator=",">
	 		 #{id}
		</foreach>
		</if>
		<if test="buildingList != null and buildingList.size()>0">
			AND
			equipment.building_id in
			<foreach collection="buildingList" item="id" index="index" open="(" close=")" separator=",">
				#{id}
			</foreach>
		</if>
		GROUP BY
			equipment_user.id
		ORDER BY
			examination.id DESC
	</select>
	
	<select id="queryBySerialNumber" resultType="cn.meiot.entity.db.Examination">
		SELECT
			examination.id,
			examination.create_time AS createTime,
			examination.swicth_status AS swicthStatus,
			examination.leakage 
		FROM
			examination
		WHERE
			examination.serial_number =#{serialNumber}
		<if test="startTime != null and endTime != null">
		AND
			create_time between #{startTime}
		AND
			#{endTime}
			</if>
		ORDER BY
			examination.id
	</select>
</mapper>