<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.meiot.dao.PowerMapper">


    <insert id="insertTableUser">
        INSERT INTO `${table}_app_user` (
            `switch_sn`,
            `serial_number`,
            `${table}_id`
        )
        VALUES
        <foreach collection="powerAppUserList" item="sn" index="index"  separator=",">
            (#{sn.switchSn},#{serialNumber},#{id})
        </foreach>
    </insert>

    <delete id="deleteByTableUser">
        DELETE FROM ${table}_app_user WHERE  ${table}_id = #{id}
        <if test="table != null">
          AND  status = #{status}
        </if>
    </delete>


    <select id="queryPowerUser" resultType="cn.meiot.entity.db.PowerAppUser">
        SELECT
            power_app_user.switch_sn AS switchSn,
            switch.switch_index AS 'index'
        FROM
            `power_app_user`
        JOIN
            switch
        ON
            power_app_user.switch_sn = switch.switch_sn
        WHERE
            power_app_user.power_id = #{id}
    </select>
    <select id="query" resultType="java.util.Map">
        SELECT
            power.id,
            power.is_switch AS switch,
            power.power,
            power.serial_number AS serialNumber,
            COUNT(DISTINCT power_app_user.switch_sn,0) AS switchCount
        FROM
            power
        JOIN (SELECT
            power_app_user.power_id
        FROM
            power_app_user
        WHERE
            power_app_user.switch_sn = #{switchSn}) AS t
        ON power.id = t.power_id
        JOIN
            power_app_user
        ON
            power.id = power_app_user.power_id
        GROUP BY
            power.id
    </select>
    <select id="queryBySerialNumberAndId" resultType="java.util.Map">
        SELECT
            switch.switch_sn AS switchSn,
            switch.switch_index AS switchIndex,
            switch.switch_index AS 'index',
            IFNULL(${table}_app_user.id,0) AS id
        FROM
            switch
        LEFT JOIN
          ${table}
        ON
          ${table}.serial_number = switch.serial_number
        AND
          ${table}.is_switch = 1
        <if test="id != null">
        AND
            ${table}.id != #{id}
        </if>
        LEFT JOIN
            ${table}_app_user
        ON
            ${table}.id = ${table}_app_user.${table}_id
        AND
            ${table}_app_user.switch_sn = switch.switch_sn
        <if test="id != null">
        AND
            ${table}_app_user.status = 1
        </if>
        WHERE
            switch.serial_number = #{serialNumber}
        GROUP BY
            switchSn
        ORDER BY
            switchIndex DESC
    </select>
    <select id="queryBySwitchSnAndId" resultType="java.lang.Integer">
        SELECT
            IFNULL(id,0)
        FROM
            ${table}_app_user
        WHERE

            ${table}_app_user.switch_sn = #{switchSn}
        AND
             ${table}_app_user.status = 1
        <if test="id != null">
        AND
            ${table}_app_user.${table}_id = #{id}
        </if>
    </select>

</mapper>