<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.meiot.mapper.TroubleTicketMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.meiot.entity.TroubleTicket">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="device_name" property="deviceName" />
        <result column="tel" property="tel" />
        <result column="device_id" property="deviceId" />
        <result column="alarm_type" property="alarmType" />
        <result column="alarm_type_name" property="alarmTypeName" />
        <result column="alarm_time" property="alarmTime" />
        <result column="note" property="note" />
        <result column="type" property="type" />
        <result column="create_time" property="createTime" />
        <result column="is_show" property="isShow" />
        <result column="update_time" property="updateTime"/>
        <result column="sn" property="sn"/>
        <result column="sn_name" property="snName"/>
        <result column="is_app" property="isApp"/>
        <result column="address" property="address"/>
        <result column="project_id" property="projectId"/>

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, device_name,tel, device_id, alarm_type,update_time, alarm_type_name, alarm_time, note, `type`, create_time, is_show,sn,sn_name,is_app,project_id
    </sql>
    <update id="updateStatusByList" parameterType="java.util.List">
            <foreach collection="statusVoList" item="statusVo" index="index" open="" close="" separator=";">
                UPDATE trouble_ticket
                <set>
                    `type` = #{statusVo.status},
                    <if test="statusVo.status == 0">
                        repair_time = #{statusVo.date}
                    </if>
                    <if test="statusVo.status == 1">
                        reception_time = #{statusVo.date}
                    </if>
                    <if test="statusVo.status == 2">
                        maintenance_time = #{statusVo.date}
                    </if>
                </set>
                <where>
                    id = #{statusVo.id}
                </where>
            </foreach>
    </update>
    <select id="selectByUserId" resultType="cn.meiot.entity.vo.AftersaleVo">
        select
          tt.id,  tt.device_id,  tt.alarm_type_name, tt.alarm_time, tt.note, tt.type, tt.repair_time, tt.reception_time,
          tt.maintenance_time, tu.device_alias,tu.switch_alias,tt.alarm_value,tt.f_alias,tt.f_aymbol,tt.alarm_type
        from trouble_ticket tt inner join trouble_ticket_user tu on tt.alarm_id=tu.alarm_id
        where tu.user_id=#{userId}
        order by tt.id desc limit #{currentPage},#{pageSize}
    </select>
    <select id="selectByUserIdTotal" resultType="java.lang.Integer">
         select
          count(1)
        from trouble_ticket tt inner join trouble_ticket_user tu on tt.alarm_id=tu.alarm_id
        where tu.user_id=#{userId}
    </select>

    <select id="selectByUserIdAndProjectId" resultType="cn.meiot.entity.vo.AftersaleVo">
         select
          tt.id,  tt.device_id,  tt.alarm_type_name, tt.alarm_time, tt.note, tt.type, tt.repair_time, tt.reception_time,
          tt.maintenance_time,tt.device_name as device_alias, tt.sn_name as switch_alias,tt.alarm_value,tt.f_alias,tt.f_aymbol,tt.alarm_type,
          tt.address
        from trouble_ticket tt inner join trouble_ticket_user tu on tt.alarm_id=tu.alarm_id
        where tu.user_id=#{userId} and tt.project_id=#{projectId}
        order by tt.id desc limit #{currentPage},#{pageSize}
    </select>
    <select id="selectByUserIdAndProjectIdTotal" resultType="java.lang.Integer">
        select
          count(1)
        from trouble_ticket tt inner join trouble_ticket_user tu on tt.alarm_id=tu.alarm_id
        where tu.user_id=#{userId} and tt.project_id=#{projectId}
    </select>

</mapper>
