<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.meiot.mapper.EquipmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.meiot.entity.Equipment">
        <id column="serial_number" property="serialNumber" />
        <result column="equipment_status" property="equipmentStatus" />
        <result column="model" property="model" />
        <result column="source" property="source" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="activation_time" property="activationTime" />
        <result column="switch_count" property="switchCount" />
        <result column="firmware_version" property="firmwareVersion" />
        <result column="building_id" property="buildingId" />
        <result column="examination_time" property="examinationTime" />
        <result column="examination_status" property="examinationStatus" />
        <result column="voltage" property="voltage" />
        <result column="loadmax" property="loadmax" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        serial_number, equipment_status, model, source, create_time, update_time, activation_time, switch_count, firmware_version, building_id, examination_time, examination_status, voltage, loadmax, version
    </sql>

</mapper>
