<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.meiot.mapper.FirmwareMapper">

    <resultMap id="BaseResultMap" type="cn.meiot.entity.Firmware">
        <id column="id" property="id" />
        <result column="version" property="version" />
        <result column="name" property="name" />
        <result column="push_time" property="pushTime" />
        <result column="is_list" property="isList" />
        <result column="type" property="type" />
        <result column="create_time" property="createTime" />
        <result column="white_name" property="whiteName"/>
        <result column="is_upgrade" property="isUpgrade"/>
        <result column="is_now" property="isNow"/>
        <result column="description" property="description"/>
        <result column="sort" property="sort"/>
    </resultMap>

    <resultMap id="BaseResultFirmwareFileVo" type="cn.meiot.entity.vo.FirmwareFileVo">
        <id column="id" property="id" />
        <result column="version" property="version" />
        <result column="name" property="name" />
        <result column="push_time" property="pushTime" />
        <result column="is_list" property="isList" />
        <result column="type" property="type" />
        <result column="create_time" property="createTime" />
        <result column="is_upgrade" property="isUpgrade"/>
        <result column="is_now" property="isNow"/>
        <collection property="files" ofType="cn.meiot.entity.Files">
            <id column="f_id" property="id" />
            <result column="f_name" property="name" />
            <result column="f_address" property="address" />
            <result column="f_region" property="region" />
            <result column="f_firmware_id" property="firmwareId" />
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id, version, `name`, push_time, is_upgrade, `type`, create_time,is_now,is_list,white_name,description,sort
    </sql>


    <sql id="Base_Firmware_File">
        f1.id, f1.version, f1.name, f1.push_time, f1.is_upgrade, f1.type, f1.create_time,f1.is_now,f1.is_list,
        f2.id AS f_id, f2.name AS f_name, f2.address AS f_address,f2.region AS f_region,f2.firmware_id AS f_firmware_id
    </sql>


    <select id="selectFirmwareUrl" resultMap="BaseResultFirmwareFileVo">
        SELECT
        <include refid="Base_Firmware_File"/>
        FROM firmware f1 LEFT JOIN files f2 ON f1.id=f2.firmware_id
        WHERE f1.version=#{version} AND f2.region=#{region}
    </select>

    <select id="selectReservationVersion" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM firmware WHERE push_time &lt;= #{currentTime} AND `type` = 0 ORDER BY push_time DESC
    </select>

</mapper>
