<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.meiot.mapper.WhiteListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.meiot.entity.WhiteList">
        <id column="id" property="id"/>
        <result column="serial_number" property="serialNumber"/>
        <result column="firmware_id" property="firmwareId"/>
    </resultMap>
    <resultMap id="BaseResultMap1" type="cn.meiot.entity.vo.WhiteVo">
        <result column="serial_number" property="serialNumber"/>
        <result column="version" property="version"/>
        <result column="description" property="description"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, serial_number, firmware_id
    </sql>

    <select id="selectUpgradeDevice" resultMap="BaseResultMap1">
        SELECT
        serial_number,version,description
        FROM (
        SELECT max(firmware_id) AS firmware_id,serial_number FROM
        white_list
        GROUP BY serial_number)
         t1
        JOIN
        firmware
        on t1.firmware_id = firmware.id
    </select>
</mapper>
