<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.meiot.mapper.AppMeterMonthsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.meiot.entity.AppMeterMonths">
        <id column="id" property="id"/>
        <result column="serial_number" property="serialNumber"/>
        <result column="switch_index" property="switchIndex"/>
        <result column="switch_sn" property="switchSn"/>
        <result column="meter" property="meter"/>
        <result column="s_year" property="sYear"/>
        <result column="s_month" property="sMonth"/>
        <result column="s_day" property="sDay"/>
        <result column="create_time" property="createTime"/>
        <result column="user_id" property="userId"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, serial_number, switch_index, switch_sn, meter, s_year, s_month, s_day, create_time, user_id, update_time
    </sql>
    <select id="getStatslastmonthly" resultType="java.util.Map">
        select  s_day as sDay,meter from app_meter_months

        WHERE serial_number = #{appMeterVo.serialNumber}
          AND switch_sn = #{appMeterVo.switchSn}
          AND s_year =#{appMeterVo.year}
          AND s_month = #{appMeterVo.month}
          AND user_id = #{appMeterVo.userId}
          order by s_day

    </select>
    <select id="getSumMeterByMonth" resultType="java.math.BigDecimal">

         select  sum(meter) as meter from app_meter_months

        WHERE serial_number = #{appMeterVo.serialNumber}
          AND switch_sn = #{appMeterVo.switchSn}
          AND s_year =#{appMeterVo.year}
          AND s_month = #{appMeterVo.month}
          AND user_id = #{appMeterVo.userId}

    </select>
    <select id="getLastMonthTotalMeter" resultType="cn.meiot.entity.AppMeterYears">

         SELECT
           serial_number, switch_index, switch_sn, user_id,s_year,s_month,s_day,SUM(meter) AS meter
        FROM
          `app_meter_months`
          WHERE
           s_year = #{year}
          AND s_month = #{month}

          GROUP BY serial_number,switch_sn,user_id


    </select>
   <!-- <select id="getLastMonthSerialNumber" resultType="java.lang.String">

         select  serial_number  from app_meter_months
        WHERE
             s_year =#{appMeterVo.year}
          AND s_month = #{appMeterVo.month}

    </select>-->
    <select id="selectListBySerialNumber" resultType="cn.meiot.entity.vo.AppMeterMonthsVo">
        SELECT user_id,serial_number, switch_index, switch_sn,  s_year, s_month,SUM(meter) AS meter, project_id AS projectId

        FROM app_meter_months

        WHERE s_year = #{appMeterVo.year} AND s_month = #{appMeterVo.month}

        GROUP BY serial_number,switch_sn,user_id



    </select>

    <select id="getBatteryLeftMonth" resultType="cn.meiot.entity.bo.BatteryLeftBo">
        SELECT  MAX(meter) AS maxMeter ,MIN(meter) AS minMeter, AVG(meter) AS avgMeter, SUM(meter) AS sumMeter
        FROM `app_meter_months`
        WHERE
            s_year = #{map.year}
        AND s_month = #{map.month}
        AND serial_number = #{map.serialNumber}
        AND switch_sn = #{map.switchSn}
        AND user_id = #{map.rtuserId}
    </select>

</mapper>
