<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.meiot.mapper.AppMeterYearsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.meiot.entity.AppMeterYears">
        <id column="id" property="id" />
        <result column="serial_number" property="serialNumber" />
        <result column="switch_index" property="switchIndex" />
        <result column="switch_sn" property="switchSn" />
        <result column="meter" property="meter" />
        <result column="s_year" property="sYear" />
        <result column="s_month" property="sMonth" />
        <result column="create_time" property="createTime" />
        <result column="user_id" property="userId" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, serial_number, switch_index, switch_sn, meter, s_year, s_month, create_time, user_id, update_time
    </sql>
    <select id="getYearStatisticalList" resultType="java.util.Map">

        select  s_year as sYear, s_month as sMonth,meter from ${appMeterVo.platform}_meter_years

        WHERE
        <if test = "appMeterVo.oldYear != null and appMeterVo.oldYear != ''" >
            (
            (
            s_year = #{appMeterVo.year}
            <if test = "appMeterVo.month != null and appMeterVo.month != ''" >
                AND s_month >= #{appMeterVo.month}
            </if>
            )
            OR
            (
            s_year = #{appMeterVo.oldYear}
            <if test = "appMeterVo.oldMonth != null and appMeterVo.oldMonth != ''" >
                AND s_month >= #{appMeterVo.oldMonth}
            </if>
            )
            )
        </if>

        <if test = "appMeterVo.oldYear == null and appMeterVo.year != null" >
            s_year = #{appMeterVo.year}
            <if test = "appMeterVo.month != null and appMeterVo.month != ''" >
                AND s_month >= #{appMeterVo.month}
            </if>
        </if>
          AND serial_number = #{appMeterVo.serialNumber}
          AND switch_sn = #{appMeterVo.switchSn}
          AND user_id = #{appMeterVo.userId}
        <if test = "appMeterVo.projectId != null" >
          AND project_id = #{appMeterVo.projectId}
        </if>
        order by s_year, s_month

    </select>
    <select id="getBatteryLeft" resultType="cn.meiot.entity.bo.BatteryLeftBo">
        SELECT  MAX(meter) AS maxMeter ,MIN(meter) AS minMeter, AVG(meter) AS avgMeter, SUM(meter) AS sumMeter
        FROM `app_meter_years`
        WHERE
        <if test = "map.oldYear != null and map.oldYear != ''" >
            (
            (
            s_year = #{map.year}
            <if test = "map.month != null and map.month != ''" >
                AND s_month >= #{map.month}
            </if>
            )
            OR
            (
            s_year = #{map.oldYear}
            <if test = "map.oldMonth != null and map.oldMonth != ''" >
                AND s_month >= #{map.oldMonth}
            </if>
            )
            )
        </if>

        <if test = "map.oldYear == null and map.year != null" >
            s_year = #{map.year}
            <if test = "map.month != null and map.month != ''" >
                AND s_month >= #{map.month}
            </if>
        </if>
        AND serial_number = #{map.serialNumber}
        AND switch_sn = #{map.switchSn}
        AND user_id = #{map.rtuserId}

    </select>
    <select id="getMaterCount" resultType="java.lang.Integer">
        SELECT  count(id)
        FROM `app_meter_years`
        WHERE
        <if test = "appMeterVo.oldYear != null and appMeterVo.oldYear != ''" >
            (
            (
            s_year = #{appMeterVo.year}
            <if test = "appMeterVo.month != null and appMeterVo.month != ''" >
                AND s_month >= #{appMeterVo.month}
            </if>
            )
            OR
            (
            s_year = #{appMeterVo.oldYear}
            <if test = "appMeterVo.oldMonth != null and appMeterVo.oldMonth != ''" >
                AND s_month >= #{appMeterVo.oldMonth}
            </if>
            )
            )
        </if>

        <if test = "appMeterVo.oldYear == null and appMeterVo.year != null" >
            s_year = #{appMeterVo.year}
            <if test = "appMeterVo.month != null and appMeterVo.month != ''" >
                AND s_month >= #{appMeterVo.month}
            </if>
        </if>
        AND serial_number = #{appMeterVo.serialNumber}
        AND switch_sn= #{appMeterVo.switchSn}
        AND user_id = #{appMeterVo.userId}
    </select>
    <select id="getMonthStatistical" resultType="java.math.BigDecimal">
        SELECT  meter AS VALUE
        FROM app_meter_years
        WHERE serial_number = #{appMeterVo.serialNumber}
          AND switch_sn = #{appMeterVo.switchSn}
          AND s_year =#{appMeterVo.year}
          AND s_month = #{appMeterVo.month}
          AND user_id = #{appMeterVo.userId}
    </select>
    <select id="getTotalMeter" resultType="java.math.BigDecimal">
        SELECT
        SUM(meter) AS value
        FROM(
            SELECT meter
            <if test="parametersDto.state == 0 ">
                ,s_month,s_day
            </if>
            FROM ${parametersDto.platform}_${parametersDto.tableName}_${parametersDto.timeName} WHERE id = 0
            <foreach collection="list" item="item" index="index">
                UNION all
                SELECT meter
                <if test="parametersDto.state == 0 ">
                    ,s_month,s_day
                </if>
                FROM ${parametersDto.platform}_${parametersDto.tableName}_${parametersDto.timeName}
                WHERE serial_number = #{item.serial}
                AND switch_sn = #{item.masterSn}
                <if test="parametersDto.sYear != null ">
                    AND s_year = #{parametersDto.sYear}
                </if>
                <if test="parametersDto.sMonth != null ">
                    AND s_month = #{parametersDto.sMonth}
                </if>
                <if test="parametersDto.projectId != 0 ">
                    AND project_id = #{parametersDto.projectId}
                </if>
                <if test="item.masterId != null ">
                    AND user_id = #{item.masterId}
                </if>
            </foreach>
        ) a
        <if test="parametersDto.state == 0 ">
            GROUP BY a.s_month,a.s_day
            ORDER BY value
            DESC LIMIT 1
        </if>
    </select>
    <select id="getMonthlyMeter" resultType="java.util.Map">
        SELECT
        <if test="parametersDto.type == 0 ">
            a.s_month AS name,
        </if>
        <if test="parametersDto.type == 1 ">
            a.s_day AS name,
        </if>
        SUM(a.meter) AS value
        FROM
        (
            SELECT
            <if test="parametersDto.type == 0 ">
                s_month,
            </if>
            <if test="parametersDto.type == 1 ">
                s_day,
            </if>
            meter
            FROM ${parametersDto.platform}_${parametersDto.tableName}_${parametersDto.timeName}
            WHERE id = 0
            <foreach collection="list" item="item" index="index">
                UNION all
                SELECT
                <if test="parametersDto.type == 0 ">
                    s_month,
                </if>
                <if test="parametersDto.type == 1 ">
                    s_day,
                </if>
                meter
                FROM ${parametersDto.platform}_${parametersDto.tableName}_${parametersDto.timeName}
                WHERE serial_number = #{item.serial}
                AND switch_sn = #{item.masterSn}
                <if test="parametersDto.sYear != null ">
                    AND s_year = #{parametersDto.sYear}
                </if>
                <if test="parametersDto.sMonth != null ">
                    AND s_month = #{parametersDto.sMonth}
                </if>
                <if test="parametersDto.projectId != 0 ">
                    AND project_id = #{parametersDto.projectId}
                </if>
                <if test="item.masterId != null ">
                    AND user_id = #{item.masterId}
                </if>
            </foreach>
            ) a
        GROUP BY
        <if test="parametersDto.type == 0 ">
            a.s_month
        </if>
        <if test="parametersDto.type == 1 ">
            a.s_day
        </if>


    </select>


    <select id="getTopMeter" resultType="cn.meiot.entity.bo.MeterStatisticalBo">
        SELECT name,ROUND(value,1) as value FROM
        (
        SELECT id, serial_number as name,meter as value  FROM app_meter_years WHERE id = 0
        <foreach collection="list" item="item" index="index">
            UNION all
            SELECT id, serial_number as name,sum(meter) as value
            FROM app_meter_years
            WHERE  user_id = #{item.masterId}  and serial_number = #{item.serial}
            AND switch_sn = #{item.masterSn}
            and s_year =#{year}
            <if test="month != null ">
                and s_month =#{month}
            </if>
        </foreach>
        ) a  WHERE VALUE >= 0  order by value desc limit 10


    </select>
    <select id="getMeterMonth" resultType="cn.meiot.entity.bo.MeterStatisticalBo">
        select name,sum(value) as value from (
        SELECT  s_month as name,meter as value  FROM app_meter_years WHERE id = 0
        <foreach collection="list" item="item" index="index">
            UNION all
            select s_month  as name ,meter as value
            from app_meter_years
            where serial_number = #{item.serial}
            and switch_sn =#{item.masterSn}
            and s_year = #{year}
            and user_id = #{item.masterId}
        </foreach>
        ) a
        GROUP BY  a.name
    </select>

    <select id="getEnterpriseMeterMonth" resultType="cn.meiot.entity.bo.MeterStatisticalBo">
        select name,sum(value) as value from (
        SELECT  s_month as name,meter as value  FROM pc_meter_years WHERE id = 0
        <foreach collection="list" item="item" index="index">
            UNION all
            select s_month  as name ,meter as value
            from pc_meter_years
            where serial_number = #{item.serial}
            and switch_sn =#{item.masterSn}
            and s_year = #{year}
            and user_id = #{item.masterId}
            and project_id = #{projectId}
        </foreach>
        ) a
        GROUP BY  a.name
    </select>

</mapper>
