<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.meiot.mapper.PcCurrentHoursMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.meiot.entity.PcCurrentHours">
        <id column="id" property="id" />
        <result column="serial_number" property="serialNumber" />
        <result column="switch_index" property="switchIndex" />
        <result column="switch_sn" property="switchSn" />
        <result column="current" property="current" />
        <result column="s_year" property="sYear" />
        <result column="s_month" property="sMonth" />
        <result column="s_day" property="sDay" />
        <result column="s_time" property="sTime" />
        <result column="create_time" property="createTime" />
        <result column="user_id" property="userId" />
        <result column="project_id" property="projectId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, serial_number, switch_index, switch_sn, current, s_year, s_month, s_day, s_time, create_time, user_id, project_id
    </sql>
    <select id="currentData" resultType="java.util.Map">
        SELECT
        current AS value,
        unix_timestamp(create_time) * 1000 AS name
        FROM
        pc_current_hours
        WHERE
        <if test ="pcCurrentHours.serialNumber != null ">
            serial_number = #{pcCurrentHours.serialNumber}
        </if>
        <if test ="pcCurrentHours.switchSn != null ">
            AND
            switch_sn = #{pcCurrentHours.switchSn}
        </if>
        <if test ="pcCurrentHours.userId != null ">
            AND
            user_id = #{pcCurrentHours.userId }
        </if>
        <if test ="pcCurrentHours.projectId != null ">
            AND
            project_id = #{pcCurrentHours.projectId}
        </if>

        <if test="startTime != null and endTime != null">
            AND unix_timestamp(create_time) * 1000 between #{startTime} AND #{endTime}
        </if>
        ORDER BY create_time
    </select>


    <select id="queryStatisticsByDay" resultType="java.util.Map">
            SELECT
            ROUND(${tableName},1) AS value,
            <if test ="type == 0">
                s_month
            </if>
            <if test ="type == 1">
                s_day
            </if>
            <if test ="type == 2">
                unix_timestamp(create_time) * 1000
            </if> AS name
            FROM
            pc_${tableName}_${timeName}
            WHERE
            project_id = #{projectId}
            AND
            s_year = #{years}
            <if test="switchSn != null ">
                AND
                switch_sn = #{switchSn}
            </if>
            <if test="switchSnList != null and switchSnList.size() > 0">
                AND switch_sn in
                <foreach collection="switchSnList" index="index"
                         item="item" open="(" separator="," close=")">
                    #{item.masterSn}
                </foreach>
            </if>

            <if test ="type == 1 or type == 2">
                AND
                s_month = #{months}
            </if>
            <if test ="type == 2">
                AND
                s_day = #{hours}
            </if>

            GROUP BY
            <!--<if test ="type == 0">-->
                <!--s_month-->
            <!--</if>-->
            <!--<if test ="type == 1">-->
                <!--s_day-->
            <!--</if>-->
            <if test ="type == 2">
                create_time
            </if>
    </select>


    <select id="queryMeterByType" resultType="java.util.HashMap">
        SELECT
        ROUND(${function}(${tableName}),1) AS value
        FROM
        ${platform}_${tableName}_${nowTimeName}
        WHERE
        project_id = #{projectId}
        AND
        s_year = #{years}
        AND
        user_id = #{userId}
        <if test="switchSn != null ">
            AND
            switch_sn = #{switchSn}
        </if>
        <if test="switchSnList != null and switchSnList.size() > 0">
            AND switch_sn in
            <foreach collection="switchSnList" index="index"
                     item="item" open="(" separator="," close=")">
                #{item.masterSn}
            </foreach>
        </if>
        <if test ="type == 0">
            AND
            s_month = #{months}
        </if>
        <if test ="type == 1">
            AND
            s_day = #{hours}
        </if>
        GROUP BY
        <if test ="type == 0">
            s_month
        </if>
        <if test ="type == 1">
            s_day
        </if>
    </select>

</mapper>
