<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.meiot.mapper.PcLeakageMonthsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.meiot.entity.PcLeakageMonths">
        <id column="id" property="id" />
        <result column="serial_number" property="serialNumber" />
        <result column="switch_index" property="switchIndex" />
        <result column="switch_sn" property="switchSn" />
        <result column="leakage" property="leakage" />
        <result column="s_year" property="sYear" />
        <result column="s_month" property="sMonth" />
        <result column="s_day" property="sDay" />
        <result column="create_time" property="createTime" />
        <result column="user_id" property="userId" />
        <result column="project_id" property="projectId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, serial_number, switch_index, switch_sn, leakage, s_year, s_month, s_day, create_time, user_id, project_id
    </sql>


	<insert id="insertList">
		INSERT INTO pc_${tableName}_months (
			`id`,
			`serial_number`,
			`switch_index`,
			`switch_sn`,
			`${tableName}`,
			`s_year`,
			`s_month`,
			`s_day`,
			`create_time`,
			`user_id`,
			`project_id`
		)
		VALUES
		<foreach collection="list" item="item" index="index"  separator="," >
			(
				NULL,
				#{item.serialNumber},
				#{item.switchIndex},
				#{item.switchSn},
				#{item.data},
				#{item.year},
				#{item.month},
				#{item.day},
				NOW(),
				#{item.userId},
				#{item.projectId}
			)
		</foreach>
	</insert>


	<select id="selectListBySerialNumber"  resultType="cn.meiot.entity.vo.StatisticsDto">
		SELECT
			user_id AS userId,
			serial_number AS serialNumber,
			switch_index AS switchIndex,
			switch_sn AS switchSn,
			s_year AS year,
			s_month AS month,
			AVG(${tableName}) AS data,
			project_id AS projectId
		FROM
			pc_${tableName}_months
		WHERE
			s_year = #{year} AND s_month = #{month}
		GROUP BY
			serial_number,switch_sn,project_id
	</select>


	<sql id="parametersDtoType">
		<if test="type == 0 ">
			s_month,
		</if>
		<if test="type == 1 ">
			s_day,
		</if>
		<if test="type == 2 ">
			s_time,
		</if>
	</sql>


	<sql id="parametersDtoTypeA">
		<if test="type == 0 ">
			a.s_month
		</if>
		<if test="type == 1 ">
			a.s_day
		</if>
		<if test="type == 2 ">
			a.s_time
		</if>
	</sql>

	<select id="queryStatisticsMonths" resultType="java.util.HashMap">
		SELECT
			ROUND(${function}(${tableName}),1) AS value
		FROM
			pc_${tableName}_${nowTimeName}
		WHERE
			project_id = #{projectId}
		AND
			s_year = #{years}

		<if test="switchSn != null ">
			AND
			switch_sn = #{switchSn}
		</if>
		<if test="switchSnList != null and switchSnList.size() > 0">
			AND switch_sn in
			<foreach collection="switchSnList" index="index"
					 item="item" open="(" separator="," close=")">
				#{item.masterSn}
			</foreach>
		</if>
		<if test ="type == 0">
		AND
			s_month = #{months}
		</if>
		<if test ="type == 1">
		AND
			s_day = #{hours}
		</if>
		GROUP BY
		<if test ="type == 0">
		s_month
		</if>
		<if test ="type == 1">
		s_day
		</if>
	</select>
	<select id="queryStatisticsMonthsSum" resultType="java.util.HashMap">
		SELECT
		ROUND(${function}(a.${tableName}),1) AS value
		FROM(
		SELECT
		<include refid="parametersDtoType"/>
		${tableName}
		FROM pc_${tableName}_${nowTimeName} WHERE id = 0
        <if test="switchSnList != null and switchSnList.size() > 0">
		<foreach collection="switchSnList" item="item" index="index">
			UNION all
			SELECT
			<include refid="parametersDtoType"/>
			${tableName}
			FROM pc_${tableName}_${nowTimeName}
			WHERE serial_number = #{item.serialNumber}
			AND switch_sn = #{item.masterSn}


			<if test="years != null ">
				AND s_year = #{years}
			</if>
			<if test="months != null and type == 0">
				AND s_month = #{months}
			</if>
			<if test="hours != null and type == 1">
				AND s_day = #{hours}
			</if>
			<if test="projectId != 0 ">
				AND project_id = #{projectId}
			</if>

		</foreach>
        </if>
		) a
		GROUP BY
		<include refid="parametersDtoTypeA"/>
	</select>
	<select id="selectListSerialNumber" resultType="java.lang.Long">
		SELECT
		id
		FROM
		${platform}_${tableName}_${timeName}
		WHERE
		project_id = #{projectId}
		<if test="serialNumber != null ">
			AND
			serial_number = #{serialNumber}
		</if>

		<if test="oldSwitchSn != null ">
			AND
			switch_sn = #{oldSwitchSn}
		</if>
	</select>

	<update id="updateStatistics">
		UPDATE
		${platform}_${tableName}_${timeName}
		SET
		<if test="newSwitchSn != null ">
		switch_sn = #{newSwitchSn}
		</if>
		WHERE
		project_id = #{projectId}
		<if test="serialNumber != null ">
			AND
			serial_number = #{serialNumber}
		</if>

		<if test="oldSwitchSn != null ">
			AND
			switch_sn = #{oldSwitchSn}
		</if>
	</update>
</mapper>
