<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.meiot.mapper.PcLeakageYearsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.meiot.entity.PcLeakageYears">
        <id column="id" property="id" />
        <result column="serial_number" property="serialNumber" />
        <result column="switch_index" property="switchIndex" />
        <result column="switch_sn" property="switchSn" />
        <result column="leakage" property="leakage" />
        <result column="s_year" property="sYear" />
        <result column="s_month" property="sMonth" />
        <result column="create_time" property="createTime" />
        <result column="user_id" property="userId" />
        <result column="project_id" property="projectId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, serial_number, switch_index, switch_sn, leakage, s_year, s_month, create_time, user_id, project_id
    </sql>
	
	<insert id="insertList">
		INSERT INTO pc_${tableName}_years (
			`id`,
			`serial_number`,
			`switch_index`,
			`switch_sn`,
			`${tableName}`,
			`s_year`,
			`s_month`,
			`create_time`,
			`user_id`,
			`project_id`
		)
		VALUES
		<foreach collection="list" item="item" index="index"  separator="," >
			(
				NULL,
				#{item.serialNumber},
				#{item.switchIndex},
				#{item.switchSn},
				#{item.data},
				#{item.year},
				#{item.month},
				NOW(),
				#{item.userId},
				#{item.projectId}
			)
		</foreach>
	</insert>
</mapper>
