<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.meiot.mapper.PcMeterYearsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.meiot.entity.PcMeterYears">
        <id column="id" property="id" />
        <result column="serial_number" property="serialNumber" />
        <result column="switch_index" property="switchIndex" />
        <result column="switch_sn" property="switchSn" />
        <result column="meter" property="meter" />
        <result column="s_year" property="sYear" />
        <result column="s_month" property="sMonth" />
        <result column="create_time" property="createTime" />
        <result column="user_id" property="userId" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, serial_number, switch_index, switch_sn, meter, s_year, s_month, create_time, user_id, update_time
    </sql>
    <select id="querySerialNumberByProject" resultType="java.lang.String">

         SELECT DISTINCT serial_number FROM `pc_meter_years` WHERE project_id = #{projectId} AND s_year = #{year}
        <if test="month !=null and month != '' ">
            UNION all

            SELECT DISTINCT serial_number FROM `pc_meter_months` WHERE project_id = #{projectId} AND s_year = #{year}  AND s_month=#{month}

        </if>

    </select>


  <!--  <select id="queryMeterByMasterIndex" resultType="cn.meiot.entity.bo.MeterStatisticalBo">
        SELECT s_month AS month,SUM(a.meter) AS meter FROM
        (
        SELECT s_month,meter FROM pc_meter_years WHERE id = 0
        <foreach collection="list" item="item" index="index">
            union all
            SELECT s_month,meter FROM pc_meter_years WHERE serial_number = #{item.serialNumber} AND switch_index = #{item.masterIndex} and s_year = 2019

        </foreach>
        ) a GROUP BY s_month

    </select>-->


    <select id="queryNumberAll" resultType="java.lang.String">
        <if test="month !=null and month != '' and month != 0">
            <if test="day !=null and day != '' and day != 0">
                SELECT DISTINCT serial_number  FROM `pc_meter_hours`
                WHERE project_id = #{projectId} and s_year = #{year} and s_month = #{month} AND s_day = #{day}
                union all
            </if>
            SELECT DISTINCT serial_number  FROM `pc_meter_months`
            WHERE project_id = #{projectId} and s_year = #{year} and s_month = #{month}
            union all
        </if>
        SELECT DISTINCT serial_number  FROM `pc_meter_years`
        WHERE project_id = #{projectId} and s_year = #{year}
    </select>
    <select id="queryNumberByMonth" resultType="java.lang.String">
        SELECT DISTINCT serial_number  FROM `pc_meter_years`
        WHERE project_id = #{projectId} and s_year = #{year} and s_month = #{month}

    </select>
    <select id="queryNumberByNowMonth" resultType="java.lang.String">
        SELECT DISTINCT serial_number  FROM `pc_meter_hours`
        WHERE project_id = #{projectId} and s_year = #{year} and s_month = #{month} AND s_day = #{day}
        <if test="type != 2 ">
            union all
            SELECT DISTINCT serial_number  FROM `pc_meter_months`
            WHERE project_id = #{projectId} and s_year = #{year} and s_month = #{month}
        </if>
    </select>
    <select id="queryNumberByDay" resultType="java.lang.String">
        SELECT DISTINCT serial_number  FROM `pc_meter_months`
        WHERE project_id = #{projectId} and s_year = #{year} and s_month = #{month} AND s_day = #{day}
    </select>


    <select id="queryPcMeterByMasterIndex" resultType="java.util.Map">
        SELECT a.s_month AS name,SUM(a.meter) AS value FROM
        (
        SELECT s_month,meter FROM pc_meter_years WHERE id = 0
        <foreach collection="list" item="item" index="index">
            UNION all
            SELECT s_month,meter
            FROM pc_meter_years
            WHERE serial_number = #{item.serialNumber}
            AND switch_sn = #{item.masterSn}
            AND s_year = #{year}
            AND project_id = #{projectId}
        </foreach>
        ) a
        GROUP BY a.s_month
    </select>
    <select id="queryNowPcMeterByMasterIndex" resultType="java.util.Map">
        SELECT a.s_month AS name,SUM(a.meter) AS value FROM
        (
        SELECT s_month,meter FROM pc_meter_months WHERE id = 0
        <foreach collection="list" item="item" index="index">
            union all
            SELECT s_month,meter
            FROM pc_meter_months
            WHERE serial_number = #{item.serialNumber}
            AND switch_sn = #{item.masterSn}
            AND s_year = #{year}
            AND s_month = #{month}
            AND project_id = #{projectId}
        </foreach>
        ) a
        GROUP BY a.s_month

    </select>
    <select id="queryPcMeterByMonth" resultType="java.util.Map">
        SELECT a.s_day AS name,SUM(a.meter) AS value FROM
        (

        SELECT s_day,meter FROM pc_meter_months WHERE id = 0
        <foreach collection="list" item="item" index="index">
        UNION all
            SELECT s_day,meter
            FROM pc_meter_months
            WHERE serial_number = #{item.serialNumber}
            AND switch_sn = #{item.masterSn}
            AND s_year = #{year}
            AND s_month = #{month}
            AND project_id = #{projectId}
        </foreach>
        ) a
        GROUP BY a.s_day


    </select>

    <!--获取当天的电量-->
    <select id="queryNowPcMeterByDay" resultType="java.util.Map">
        SELECT a.s_time AS name,SUM(a.meter) AS value FROM
        (
        SELECT s_time,meter FROM pc_meter_hours WHERE id = 0
        <foreach collection="list" item="item" index="index">
            UNION all
            SELECT s_time,meter
            FROM pc_meter_hours
            WHERE serial_number = #{item.serialNumber}
            AND switch_sn = #{item.masterSn}
            AND s_year = #{year}
            AND s_month = #{month}
            AND s_day = #{day}
            AND project_id = #{projectId}
        </foreach>
        ) a
        GROUP BY a.s_time
    </select>
    <select id="queryNowPcMeterByMonth" resultType="java.util.Map">
        SELECT a.s_day AS name,SUM(a.meter) AS value FROM
        (
        SELECT s_day,meter FROM pc_meter_hours WHERE id = 0
        <foreach collection="list" item="item" index="index">
            union all
            SELECT s_day,meter
            FROM pc_meter_hours
            WHERE serial_number = #{item.serialNumber}
            AND switch_sn = #{item.masterSn}
            AND s_year = #{year}
            AND s_month = #{month}
            AND s_day = #{day}
            AND project_id = #{projectId}
        </foreach>
        ) a
        GROUP BY a.s_day


    </select>
    <select id="getIndexAllByProjectId" resultType="java.lang.String">
        SELECT DISTINCT
            serial_number
        FROM
            `pc_meter_hours`
        WHERE
            project_id = #{projectId}
            AND s_year = #{year}
            AND s_month = #{month}
            AND s_day = #{day}
        UNION all
        SELECT DISTINCT
            serial_number
        FROM
            `pc_meter_months`
        WHERE
            project_id = #{projectId}
            AND s_year = #{year}
            AND s_month= #{month}
        UNION all
       SELECT DISTINCT
            serial_number
        FROM
            `pc_meter_years`
        WHERE
            project_id = #{projectId}
    </select>
    <select id="getMeterByProjectId" resultType="java.math.BigDecimal">
        SELECT SUM(a.meter) AS value FROM
        (
        SELECT s_month,meter FROM pc_meter_years WHERE id = 0
        <foreach collection="list" item="item" index="index">
            UNION all
            SELECT s_month,meter
            FROM pc_meter_years
            WHERE serial_number = #{item.serialNumber}
            AND switch_sn = #{item.masterSn}
            AND project_id = #{projectId}
        </foreach>
        ) a
    </select>



    <select id="getYearStatisticalList" resultType="java.util.Map">

        SELECT a.s_year as sYear, a.s_month as sMonth,SUM(a.meter) as meter FROM
        (
        SELECT s_year,s_month, meter FROM pc_meter_years WHERE id = 0
        <foreach collection="list" item="item" index="index">
            union all
            SELECT s_year,s_month,meter
            FROM pc_meter_years
            WHERE
            <if test = "appMeterVo.oldYear != null and appMeterVo.oldYear != ''" >
                (
                (
                s_year = #{appMeterVo.year}
                <if test = "appMeterVo.month != null and appMeterVo.month != ''" >
                    AND s_month >= #{appMeterVo.month}
                </if>
                )
                OR
                (
                s_year = #{appMeterVo.oldYear}
                <if test = "appMeterVo.oldMonth != null and appMeterVo.oldMonth != ''" >
                    AND s_month >= #{appMeterVo.oldMonth}
                </if>
                )
                )
            </if>

            <if test = "appMeterVo.oldYear == null and appMeterVo.year != null" >
                s_year = #{appMeterVo.year}
                <if test = "appMeterVo.month != null and appMeterVo.month != ''" >
                    AND s_month >= #{appMeterVo.month}
                </if>
            </if>
            AND serial_number = #{item.serialNumber}
            AND switch_sn = #{item.masterSn}
            AND project_id = #{appMeterVo.projectId}
        </foreach>
        ) a
        GROUP BY a.s_year,a.s_month
    </select>
    <select id="getPcBatteryLeft" resultType="java.math.BigDecimal">
        SELECT
        sum(meter) AS data
        from (
        SELECT
        <if test = "map.type != 0">
            s_year,s_month,
        </if>
        meter
        FROM pc_meter_years WHERE id = 0
        <foreach collection="list" item="item" index="index">
            UNION all
            SELECT
            <if test = "map.type != 0">
                s_year,s_month,
            </if>
            meter
            FROM pc_meter_years
            WHERE
            <if test = "map.oldYear != null and map.oldYear != ''" >
                (
                (
                s_year = #{map.year}
                <if test = "map.month != null and map.month != ''" >
                    AND s_month >= #{map.month}
                </if>
                )
                OR
                (
                s_year = #{map.oldYear}
                <if test = "map.oldMonth != null and map.oldMonth != ''" >
                    AND s_month >= #{map.oldMonth}
                </if>
                )
                )
            </if>
            <if test = "map.oldYear == null and map.year != null" >
                s_year = #{map.year}
                <if test = "map.month != null and map.month != ''" >
                    AND s_month >= #{map.month}
                </if>
            </if>
            AND project_id = #{map.projectId}
            AND serial_number = #{item.serialNumber}
            AND switch_sn = #{item.masterSn}
        </foreach>
        ) a
        <if test = "map.type != 0">
            GROUP BY a.s_year,a.s_month
            ORDER BY data
            <if test = "map.type == 1">
                DESC
            </if>
            LIMIT 1
        </if>



        <!--SELECT-->
        <!--sum(meter) AS data-->
        <!--FROM pc_meter_years-->
        <!--WHERE-->
        <!--<if test = "map.oldYear != null and map.oldYear != ''" >-->
            <!--(-->
            <!--(-->
            <!--s_year = #{map.year}-->
            <!--<if test = "map.month != null and map.month != ''" >-->
                <!--AND s_month >= #{map.month}-->
            <!--</if>-->
            <!--)-->
            <!--OR-->
            <!--(-->
            <!--s_year = #{map.oldYear}-->
            <!--<if test = "map.oldMonth != null and map.oldMonth != ''" >-->
                <!--AND s_month >= #{map.oldMonth}-->
            <!--</if>-->
            <!--)-->
            <!--)-->
        <!--</if>-->
        <!--<if test = "map.oldYear == null and map.year != null" >-->
            <!--s_year = #{map.year}-->
            <!--<if test = "map.month != null and map.month != ''" >-->
                <!--AND s_month >= #{map.month}-->
            <!--</if>-->
        <!--</if>-->
        <!--AND project_id = #{map.projectId}-->
        <!--<if test="list != null and list.size() > 0">-->
            <!--AND switch_sn in-->
            <!--<foreach collection="list" index="index"-->
                     <!--item="item" open="(" separator="," close=")">-->
                <!--#{item.masterSn}-->
            <!--</foreach>-->
        <!--</if>-->
        <!--<if test = "map.type != 0">-->
        <!--GROUP BY s_year,s_month-->
        <!--ORDER BY data-->
        <!--<if test = "map.type == 1">-->
        <!--DESC-->
        <!--</if>-->
            <!--LIMIT 1-->
        <!--</if>-->
    </select>
    <select id="getPcListSwitch" resultType="java.math.BigDecimal">
        SELECT  SUM(meter) AS meter
        FROM
        (
        SELECT s_year,meter FROM pc_meter_years WHERE id = 0
        <foreach collection="list" item="item" index="index">
            union all
            SELECT s_year,meter
            FROM pc_meter_years
            WHERE s_year = #{year}
            AND switch_sn = #{item.swtichSn}
            AND project_id = #{projectId}
        </foreach>
        ) a
    </select>
    <select id="queryMeterByMasterIndex" resultType="cn.meiot.entity.bo.MeterStatisticalBo">
        SELECT s_month AS name,SUM(meter) AS value from
        (
        SELECT s_month ,meter from pc_meter_years where id = 0
        <foreach collection="list" item="item" index="index">
            union all
            SELECT s_month,meter
            FROM pc_meter_years
            WHERE s_year = #{year}
            and serial_number = #{item.serialNumber}
            AND switch_sn = #{item.masterSn}
            AND project_id = #{projectId}
            GROUP BY id
        </foreach>
        ) a
        GROUP BY s_month


    </select>


    <select id="getMeterTopByProjectId" resultType="cn.meiot.entity.bo.MeterStatisticalBo">
        SELECT name,ROUND(value,1) as value FROM
        (
        SELECT id,  serial_number as name,meter as value  FROM pc_meter_years WHERE id = 0
        <foreach collection="list" item="item" index="index">
            UNION all
            SELECT id, serial_number as name,sum(meter) as value
            FROM pc_meter_years
            WHERE  serial_number = #{item.serialNumber}
            AND switch_sn = #{item.masterSn}
            and s_year =#{year}
            <if test="month != null ">
                and s_month =#{month}
            </if>
        </foreach>
        ) a WHERE VALUE >= 0 order by value desc limit 10



    </select>

    <select id="appMeterByMasterIndex" resultType="java.math.BigDecimal">
        SELECT meter AS value
        FROM pc_meter_years
        WHERE serial_number = #{serialNumberMasterVo.serialNumber}
        AND switch_sn = #{serialNumberMasterVo.masterSn}
        AND s_year = #{year}
        AND s_month = #{month}
        AND project_id = #{projectId}
    </select>
    <select id="gettotalMeterBySerialNumber" resultType="java.math.BigDecimal">
        SELECT  sum(meter) as totalMeter
        FROM pc_meter_years
        WHERE serial_number=#{serialNumber}
        AND switch_sn = #{masterSn}
        AND user_id =#{userId}
        AND project_id = #{projectId}
    </select>
</mapper>
