<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.meiot.mapper.PcPowerHoursMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.meiot.entity.PcPowerHours">
        <id column="id" property="id" />
        <result column="serial_number" property="serialNumber" />
        <result column="switch_index" property="switchIndex" />
        <result column="switch_sn" property="switchSn" />
        <result column="power" property="power" />
        <result column="s_year" property="sYear" />
        <result column="s_month" property="sMonth" />
        <result column="s_day" property="sDay" />
        <result column="s_time" property="sTime" />
        <result column="create_time" property="createTime" />
        <result column="user_id" property="userId" />
        <result column="project_id" property="projectId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, serial_number, switch_index, switch_sn, power, s_year, s_month, s_day, s_time, create_time, user_id, project_id
    </sql>

	<select id="queryStatisticsWek" resultType="java.util.HashMap">
		SELECT
			DATE_FORMAT(create_time,'%Y-%m-%e' ) AS name,
			round(AVG(power),1) AS value
		FROM
			`pc_power_hours`
		WHERE
		    project_id = #{projectId}
		AND
			s_year = #{year} 
		AND
			s_month = #{month}
		AND
			s_day BETWEEN #{fristDay}
		AND
			#{lastDay}

		GROUP BY
			s_day
	</select>
</mapper>
