<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.meiot.mapper.WaterStatisticsMonthsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.meiot.entity.WaterStatisticsMonths">
        <id column="id" property="id" />
        <result column="meterid" property="meterid" />
        <result column="deviceid" property="deviceid" />
        <result column="year" property="year" />
        <result column="month" property="month" />
        <result column="day" property="day" />
        <result column="readcount" property="readcount" />
        <result column="unit" property="unit" />
        <result column="user_id" property="userId" />
        <result column="project_id" property="projectId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        record_id,
        id,
        meterid,
        deviceid,
        year,
        month,
        day,
        readtime,
        water,
        readcount,
        unit,
        user_id,
        project_id,
        create_time,
        update_time
    </sql>
    <select id="selectWaterMeter" resultType="java.lang.Integer">
         SELECT COUNT(record_id) FROM water_statistics_months
    </select>
    <select id="selectWaterMeterMonthsList" resultType="cn.meiot.entity.WaterStatisticsMonths">
        SELECT <include refid="Base_Column_List"/>
        from
        water_statistics_months
        <where>
            <if test="waterStatisticsDto.startTime != null and waterStatisticsDto.endTime != '' ">
                readtime between #{waterStatisticsDto.startTime} AND #{waterStatisticsDto.endTime}
            </if>
            <if test="waterStatisticsDto.meterid != null and waterStatisticsDto.meterid != '' ">
                AND meterid LIKE CONCAT('%',#{waterStatisticsDto.meterid},'%')
            </if>
            <if test="waterStatisticsDto.projectId != null">
                AND project_id = #{waterStatisticsDto.projectId}
            </if>
        </where>
        ORDER BY
        readtime
    </select>
    <select id="WaterMonthsListByMeterIdList" resultType="java.util.Map">

      SELECT day AS name, IFNULL(SUM(water),0) AS value
        FROM `water_statistics_months`
        <where>
            <if test="waterList != null and waterList.size() > 0">
                AND meterid in
                <foreach collection="waterList" index="index"
                         item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

            <if test="year != null">
                AND year = #{year}
            </if>

            <if test="month != null">
                AND month = #{month}
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="projectId != null">
                AND project_id = #{projectId}
            </if>
        </where>
        GROUP BY
          day
    </select>


    <update id="updateWaterMeter">
        <foreach collection="list" item="item" separator=";">
            UPDATE water_statistics_months
            <set>
                <if test="item.meterid != null">
                    meterid = #{item.meterid},
                </if>

                <if test="item.deviceid != null">
                    deviceid =#{item.deviceid},
                </if>
                <if test="item.year != null">
                    year =#{item.year},
                </if>

                <if test="item.month != null">
                    month =#{item.month},
                </if>
                <if test="item.day != null">
                    day =#{item.day},
                </if>
                <if test="item.readtime != null">
                    readtime = #{item.readtime},
                </if>

                <if test="item.water != null">
                    water = #{item.water},
                </if>
                <if test="item.readcount != null">
                    readcount = #{item.readcount},
                </if>

                <if test="item.unit != null">
                    unit = #{item.unit},
                </if>
            </set>
            <where>
                id = #{item.id}
            </where>
        </foreach>
    </update>
    <select id="selectWaterByMeterId" resultType="cn.meiot.entity.WaterStatisticsMonths">
        SELECT <include refid="Base_Column_List"/>
        from
        water_statistics_months
        <where>
            <if test="meterid != null">
                AND meterid = #{meterid}
            </if>
            <if test="year != null">
                AND year = #{year}
            </if>
            <if test="month != null">
                AND month = #{month}
            </if>
            <if test="day != null">
                AND day = #{day}
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="projectId != null">
                AND project_id = #{projectId}
            </if>
        </where>
        ORDER BY
        meterid
    </select>
</mapper>
